/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}




/*
header
*/
header{ /* FISSO */
    width: 100%;
    background-color: #ff6900;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}
header .menu .Gender a{
    font-size: large;
    text-decoration: none;
    margin-right: 5px;
    color: white;
}
.logo{
    height: 30px;
}
header .menu .gender .action-account{
    font-size: large;
    margin-right: 5px;
    color: white;
}